@font-face {
	font-family: Golden Sun;
	src: url(./gs.ttf);
}
@font-face {
	font-family: Taranis;
	src: url(./tar.ttf);
}

* {
	font-family: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
  width: 100%;
  height: 100%;
	background-color: #201728;
	color: #eee;
	font-family: 'Golden Sun', sans-serif;
	text-align: center;
}

.container {
	position: relative;
  width: 100%;
  height: 100%;

  span {
    color: white;
  }
	canvas {
		position: absolute;
		display: block;
	}

  .hud {
    height: calc(100% - 65px);
    width: calc(100% - 50px);
    padding: 20px 25px 45px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .hud-top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

			div {
				margin-bottom: 7px;
			}

			span {
				font-size: 20px;
				font-weight: 600;
			}
    }

    .hud-bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .events {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


				span {
					margin-top: 5px;
					font-size: 14px;
				}
      }

			.floor {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;

				span {
					font-size: 16px;
				}
			}
    }

  }

	.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: calc(50vh - 250px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // overflow: auto;
    background-color: rgba(32, 23, 40, 1);
    background-color: rgba(32, 23, 40, 0.8);
	}

	.modal-main {
		display: block;

		div {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

	    background-color: #201728;
	    margin: auto;
	    width: 80%;

			.title {
				margin-bottom: 20px;
				color: sandybrown;
				font-family: 'Taranis', sans-serif;
				font-size: 48px;
				font-weight: 600;
				letter-spacing: -7px;

				.title-capitalize {
					color: sandybrown;
					font-size: 64px;
				}
			}

			.main-menu {
				display: flex;
				height: 300px;

				button {
					font-size: 30px;
					background-color: transparent;
					outline: none;

					&:hover {
						color: sandybrown;
						font-weight: 600;
						cursor: pointer;
					}
				}
			}

			.new-game {
				display: none;
				padding-top: 30px;
				form {
					display: flex;
					flex-direction: column;

					input {
						margin-bottom: 60px;
						outline: none;
						text-align: center;
						background-color: transparent;
						height: 40px;
						width: 350px;
						font-size: 30px;
						color: white;
					}

					button {
						color: #ffffff;
						font-size: 30px;
						background-color: transparent;
						outline: none;

						&:hover {
							font-weight: 600;
							color: sandybrown;
							cursor: pointer;
						}
					}
				}

				.back-menu {
					margin-top: 25px;
					color: #ffffff;
					font-size: 30px;
					background-color: transparent;
					outline: none;

					&:hover {
						font-weight: 600;
						color: sandybrown;
						cursor: pointer;
					}
				}
			}

			.how-to {
				display: none;
				flex-direction: column;
				justify-content: space-between;
				height: 370px;

				p {
					font-size: 20px;
				}

				div {
					display: flex;
					justify-content: flex-start;

					p {
						padding-bottom: 12px;
						&:first-child {
							padding-bottom: 18px;
						}
					}
				}

				button {
					padding-top: 10px;
					font-size: 30px;
					color: sandybrown;
					background-color: transparent;
					outline: none;

					&:hover {
						font-weight: 600;
						cursor: pointer;
					}
				}
			}

			.about {
				display: none;
				width: 600px;
				height: 350px;

				p {
					line-height: 22px;
				}

				button {
					font-size: 30px;
					color: sandybrown;
					background-color: transparent;
					outline: none;

					&:hover {
						font-weight: 600;
						cursor: pointer;
					}
				}

				a {
					color: sandybrown;

					&:hover {
						font-weight: 600;
						cursor: pointer;
					}
				}
			}

		}
	}

	.modal-gameover {
		display: none;

		div {
			height: 300px;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				color: #eeeeee;
				font-family: 'Golden Sun', sans-serif;
				font-size: 48px;
			}
		}
	}
}
