@font-face {
  font-family: Golden Sun;
  src: url(./gs.ttf); }
@font-face {
  font-family: Taranis;
  src: url(./tar.ttf); }
* {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #201728;
  font-family: 'Golden Sun', sans-serif;
  text-align: center; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }
  .container span {
    color: white; }
  .container canvas {
    position: absolute;
    display: block; }
  .container .hud {
    height: calc(100% - 65px);
    width: calc(100% - 50px);
    padding: 20px 25px 45px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .container .hud .hud-top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .container .hud .hud-top div {
        margin-bottom: 7px; }
      .container .hud .hud-top span {
        font-size: 20px;
        font-weight: 600; }
    .container .hud .hud-bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .container .hud .hud-bottom .events {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .container .hud .hud-bottom .events span {
          margin-top: 5px;
          font-size: 14px; }
      .container .hud .hud-bottom .floor {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start; }
        .container .hud .hud-bottom .floor span {
          font-size: 16px; }
  .container .modal {
    display: block;
    position: fixed;
    z-index: 10;
    padding-top: calc(50% - 300px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #201728;
    background-color: rgba(32, 23, 40, 0.6); }
  .container .modal-menu div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #201728;
    margin: auto;
    height: 300px;
    padding: 20px;
    width: 80%;
    border: 1px solid white; }
    .container .modal-menu div .title {
      color: #ffffff;
      font-family: 'Taranis', sans-serif;
      font-size: 48px;
      letter-spacing: -7px; }
      .container .modal-menu div .title .title-capitalize {
        font-size: 64px; }
    .container .modal-menu div form {
      display: flex;
      flex-direction: column; }
      .container .modal-menu div form input {
        margin-bottom: 60px;
        outline: none;
        text-align: center;
        background-color: transparent;
        height: 40px;
        width: 300px;
        font-family: 'Golden Sun', sans-serif;
        font-size: 30px;
        color: white; }
      .container .modal-menu div form button {
        color: #ffffff;
        font-size: 30px;
        font-family: 'Golden Sun', sans-serif;
        background-color: transparent;
        outline: none; }
        .container .modal-menu div form button:hover {
          color: #aaaaaa;
          text-decoration: none;
          cursor: pointer; }

/*# sourceMappingURL=stylesheet.css.map */
