@font-face {
  font-family: Golden Sun;
  src: url(./gs.ttf); }
@font-face {
  font-family: Taranis;
  src: url(./tar.ttf); }
* {
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #201728;
  color: #eee;
  font-family: 'Golden Sun', sans-serif;
  text-align: center; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }
  .container span {
    color: white; }
  .container canvas {
    position: absolute;
    display: block; }
  .container .hud {
    height: calc(100% - 65px);
    width: calc(100% - 50px);
    padding: 20px 25px 45px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .container .hud .hud-top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .container .hud .hud-top div {
        margin-bottom: 7px; }
      .container .hud .hud-top span {
        font-size: 20px;
        font-weight: 600; }
    .container .hud .hud-bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .container .hud .hud-bottom .events {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .container .hud .hud-bottom .events span {
          margin-top: 5px;
          font-size: 14px; }
      .container .hud .hud-bottom .floor {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start; }
        .container .hud .hud-bottom .floor span {
          font-size: 16px; }
  .container .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: calc(50vh - 250px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #201728;
    background-color: rgba(32, 23, 40, 0.8); }
  .container .modal-main {
    display: block; }
    .container .modal-main div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #201728;
      margin: auto;
      width: 80%; }
      .container .modal-main div .title {
        margin-bottom: 20px;
        color: sandybrown;
        font-family: 'Taranis', sans-serif;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -7px; }
        .container .modal-main div .title .title-capitalize {
          color: sandybrown;
          font-size: 64px; }
      .container .modal-main div .main-menu {
        display: flex;
        height: 300px; }
        .container .modal-main div .main-menu button {
          font-size: 30px;
          background-color: transparent;
          outline: none; }
          .container .modal-main div .main-menu button:hover {
            color: sandybrown;
            font-weight: 600;
            cursor: pointer; }
      .container .modal-main div .new-game {
        display: none;
        padding-top: 30px; }
        .container .modal-main div .new-game form {
          display: flex;
          flex-direction: column; }
          .container .modal-main div .new-game form input {
            margin-bottom: 60px;
            outline: none;
            text-align: center;
            background-color: transparent;
            height: 40px;
            width: 350px;
            font-size: 30px;
            color: white; }
          .container .modal-main div .new-game form button {
            color: #ffffff;
            font-size: 30px;
            background-color: transparent;
            outline: none; }
            .container .modal-main div .new-game form button:hover {
              font-weight: 600;
              color: sandybrown;
              cursor: pointer; }
        .container .modal-main div .new-game .back-menu {
          margin-top: 25px;
          color: #ffffff;
          font-size: 30px;
          background-color: transparent;
          outline: none; }
          .container .modal-main div .new-game .back-menu:hover {
            font-weight: 600;
            color: sandybrown;
            cursor: pointer; }
      .container .modal-main div .how-to {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 370px; }
        .container .modal-main div .how-to p {
          font-size: 20px; }
        .container .modal-main div .how-to div {
          display: flex;
          justify-content: flex-start; }
          .container .modal-main div .how-to div p {
            padding-bottom: 12px; }
            .container .modal-main div .how-to div p:first-child {
              padding-bottom: 18px; }
        .container .modal-main div .how-to button {
          padding-top: 10px;
          font-size: 30px;
          color: sandybrown;
          background-color: transparent;
          outline: none; }
          .container .modal-main div .how-to button:hover {
            font-weight: 600;
            cursor: pointer; }
      .container .modal-main div .about {
        display: none;
        width: 600px;
        height: 350px; }
        .container .modal-main div .about p {
          line-height: 22px; }
        .container .modal-main div .about button {
          font-size: 30px;
          color: sandybrown;
          background-color: transparent;
          outline: none; }
          .container .modal-main div .about button:hover {
            font-weight: 600;
            cursor: pointer; }
        .container .modal-main div .about a {
          color: sandybrown; }
          .container .modal-main div .about a:hover {
            font-weight: 600;
            cursor: pointer; }
  .container .modal-gameover {
    display: none; }
    .container .modal-gameover div {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .modal-gameover div p {
        color: #eeeeee;
        font-family: 'Golden Sun', sans-serif;
        font-size: 48px; }

/*# sourceMappingURL=stylesheet.css.map */
